.menu-inicio{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.destaque {
 background-image: url(compressjpeg/dog-destaque.jpg);
height: 450px;

}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.formulario {
   
}