.menu-inicio{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.destaque {
 background-image: url(compressjpeg/dog-destaque.jpg);
height: 450px;

}

main a {
    text-decoration: none;
    background-color:#59ABA7;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

main a:hover{
    color: #fff;
    font-size: 19px;
    transition: 0.5s;
}

main img {
    border: 1px solid #59ABA7;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.menu-inicio{
    display: flexbox;
    justify-content: space-between;
}